<script src="./js/script.js"></script>
<br>
<div class="container" ng-controller="LoginController" style="border:1px solid #cecece;">
 <div class="row" id="login">
    <div class="col-6 col-md-2">
		
	</div>
	<div class="col col-md-8 text-center">
		<div class="page-header text-center">
    <h1>Login</h1>
	  </div>
	  <div class="text-center"><img src="./images/avatar.png"> </div>
	  <form id="loginForm" >
	   <div class="text-left">
	  <label><b>Username</b></label>
	  </div>
	  <div class="input-group input-group-lg">
	  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
	  <input type="text" id="username" ng-model="userName" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
	  </div>
	  <br><br>
	  <div class="text-left">
	  <label><b>Password</b></label>
	  </div>
	  <div class="input-group input-group-lg">
	  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
	  <input type="password"  id= "password" ng-model="password" class="form-control" placeholder="password" aria-describedby="sizing-addon1">
	  </div>
	  <br>
	  <button type="button" class="btn btn-primary btn-group-lg" ng-click="validateUser()">Submit</button>
	  </form>
	</div>
	<div class="col-6 col-md-2">
		
	</div>
  </div>
  <br>
 
</div>
<br><br>